<p id="notice"><%= notice %></p>

<h1>Welcome Instructor!</h1>

<div class="table col-12">
  <table>
    <thead>
      <tr>
        <th><h1 class="col-12">Questions</h1></th>
        <th><%= link_to "New Question", new_problem_path, :class => "button" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Question 1</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Edit", :class => "button" %></td>
        <td><%= link_to "Remove", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Question 2</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Edit", :class => "button" %></td>
        <td><%= link_to "Remove", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Question 3</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Edit", :class => "button" %></td>
        <td><%= link_to "Remove", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Question 4</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Edit", :class => "button" %></td>
        <td><%= link_to "Remove", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Question 5</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Edit", :class => "button" %></td>
        <td><%= link_to "Remove", :class => "button" %></td>
      </tr>
    </tbody>
  </table>
</div>