<p id="notice"><%= notice %></p>

<% if policy(:problem).new? %>
  <h1>Welcome Instructor!</h1>
<% end %>

<h1>Problems</h1>
<% if policy(:problem).new? %>
  <div class="col-12">
    <%= link_to "New Problem", new_problem_path, :class => "button" %>
  </div>
<% end %>
<div class="table col-12">
  <table>
    <thead>
    <tr>
    <th>
    <h5> search problems with tags<h5>
    <br>
        <%= form_with url: searchtag_path, local: true, method: :get do |f|%>
          <%= select_tag :tags, options_from_collection_for_select(@tags, 'id', 'tag'), class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>
          <%= f.submit "Search" %>
        <%end%>
        </th></tr>
      <tr>
        <th>Title</th>
        <th colspan="2"></th>
        <th>Tags</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
      <tr>
        <td><%=link_to problem.title, problem %></td>
        <th colspan="2"></th>
        <td><%=link_to @map[problem.title], problem %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
