<p id="notice"><%= notice %></p>

<h1>Welcome Instructor!</h1>
<div class="table col-12">
  <table>
    <thead>
      <tr>
        <th><h1 class="col-12">Classes</h1></th>
        
        <th><%= link_to "New Class", new_problem_path, :class => "button" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Class 1</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Modify", :class => "button" %></td>
        <td><%= link_to "Delete", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Class 2</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Modify", :class => "button" %></td>
        <td><%= link_to "Delete", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Class 3</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Modify", :class => "button" %></td>
        <td><%= link_to "Delete", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Class 4</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Modify", :class => "button" %></td>
        <td><%= link_to "Delete", :class => "button" %></td>
      </tr>
      <tr>
        <td><b>Class 5</b></td>
        <th colspan="2"></th>
        <td><%= link_to "Modify", :class => "button" %></td>
        <td><%= link_to "Delete", :class => "button" %></td>
      </tr>
    </tbody>
  </table>
</div>