<h3 class = "col-12">Adding New Problem</h3>
<%= form_with(:url => add_problem_form_path, :id => "add_problem_form", :class => "form-register", :method => :post, data: { turbo: false }) do |form| %>
  <%= form.label :group_id, "Class "+ params[:id] %>
  <br>
  <br>
  <br>
  <%= hidden_field_tag :group_id, params[:id] %>
  <% titles = get_title_id.keys %>
  <% titles_ids = get_title_id %>
  <%= form.label :problem_title, "Problem Title" %>
  <%= select_tag :problem_title, options_for_select(titles), prompt: 'Choose Problem...' %>
  <%= form.button "Add", :type => "submit", :id => "register_btn", :class => "button" %>
  <%= link_to "Back", instructors_path, :class => "button" %>
<% end %>