<p style="color: green"><%= notice %></p>

<%= render @problem_group %>

<div>
  <%= link_to "Edit this problem group", edit_problem_group_path(@problem_group) %> |
  <%= link_to "Back to problem groups", problem_groups_path %>

  <%= button_to "Destroy this problem group", @problem_group, method: :delete %>
</div>
