<p style="color: green"><%= notice %></p>


<h1>Class Details</h1>

<<div class="table col-12">
  <table>
    <thead>
      <tr>
        <th><h1 class="col-12">Classes</h1></th>
        <th>
        
        </th>
        <th>
        <%= form_with url: joinclass_student_group_url(1), local: true, method: :post do |f|%>
          <%= f.text_field :classcode, placeholder: "Enter class code" %>
          <%= f.submit "Join Class" %>
        <%end%>

      </tr>
    </thead>
    <tbody>
    <% for group in @groups_2 %>
      <tr>
        <td><b><%=link_to group.group_title, details_group_url(group.id)%></b></td>
        <th colspan="2"></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>