<p style="color: green"><%= notice %></p>

<%= render @student_group %>

<div>
  <%= link_to "Edit this student group", edit_student_group_path(@student_group) %> |
  <%= link_to "Back to student groups", student_groups_path %>

  <%= button_to "Destroy this student group", @student_group, method: :delete %>
</div>
